{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Management{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- Global Message Alerts -->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Page Content -->
    <body>
    <div class="main-wrapper">
        {% block content %}{% endblock %}
    </div>
</body>


    <!-- JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
